<% layout ("/layouts/boilerplate")%>
    <h3>Create a New Listing</h3>
    <div class="row mt-3">
      <div class="col-8 offset-2">
    <form method="POST" action="/listings" class="needs-validation" novalidate >
      <div class="mb-1">
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" placeholder="Enter Your Prop Name" type="text" class="form-control" required/>
      </div>
      <br /><br />
      <div class="mb-1">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        class="form-control"
        required
       
      ></textarea>
    </div>
      <br /><br />
      <div class="mb-1">
        <label for="image" class="form-label">Image</label>
      <input
        name="listing[image]"
        type="text"
        class="form-control"
        
      />
    </div>
      <br /><br />
      <div class="row">
        <div class="mb-1 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input name="listing[price]" type="number" class="form-control" required/>
        </div>
        
        <div class="mb-1 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" type="text" placeholder="India" class="form-control" required />
      </div>
      </div>
      
      <br /><br />
      <div class="mb-1">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        type="text"
        placeholder="Nellore Andhra Pradesh"
        class="form-control"
        required
        
      />
      </div>
      <br /><br />
      <button class="btn btn-dark add-btn">Add</button>
      <br/><br/>
    </form>
   </div>
  </div>
  